<section class="section background">
  <div class="section__title">Trasfondo</div>
  <div class="section__content">
    <p>
      Actualmente soy desarrollador en 
      <a class="underline-link" href="https://www.accenture.com" target="_blank">Accenture</a> contruyendo herramientas web variadas. Hace un tiempo me preparé en
      <a class="underline-link" href="https://www.cedesdonbosco.ed.cr/es/" target="_blank">CTDB</a> despúes de llevar tres años de  especialidad, y llevar inglés técnico para la carrera.
    </p>

    <p>
      Como desarrolador de software, me he involucrado en cada etapa de la elaboración de producto, desde escoger el stack de un proyecto y plantear una solución, 
      hasta Deploy en servidores Linux o PaaS como Heroku, Netlify... <br>
      Disfruto aprender nuevas tecnologías, con el objetivo de hacer aplicaciones funcionales mientras que la experiencia del desarrolador y escalabilidad a futuro también sea óptima.
    </p>

    <p>
      Mi tecnología favorita es JavaScript, especialmente Node JS en el backend, y Vue JS en el frontend. Aspiro a orientar mi carrera hacia la programación de blockchain en el futuro.
    </p>
  </div>
</section>
